$near-black: #24292e;
$light-gray: #A7A6B3;
$med-gray: #666;

body {
  font: {
    family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
}

.nav-bar {
  a {
    color: $light-gray
  }
  background-color: $near-black;
}

p {
  a {
    display: inline;
  }
}

.profile-pic {
  max-width: 230px;
  max-height: 230px;
}

.med-gray {
  color: $med-gray
}

.border-top {
  border-color: $light-gray;
}
