<section class="col-8 mx-auto">

  <h2>Following</h2>

  <h4>Click on an Image to View Recent Activity</h4>

  <div class="flex">
    <% @following.each do |user| %>
      <a class="center col-3 circle" href=<%="https://localhost:3000/users/#{current_user.id}/following/#{user.nickname}" %>>
          <%= image_tag user.avatar_url, class: "profile-pic circle" %>
      </a>
    <% end %>
  </div>
</section>
